<div class="containerr">
  <div class="form">
    <div class="header-content">
      <p>Infome os dados</p>
      <div class="line"></div>
    </div>
    <div class="form-content">
      <form>
        <table>
          <tr class="add-and-remove">
            <th></th>
            <th><i class="fa fa-times" aria-hidden="true"></i></th>
            <th><i class="fa fa-plus"></i></th>
          </tr>
          <tr class="form-data">
            <td>
              <div class="select-wrapper">
                <select>
                  <option value="maximizar">Maximizar</option>
                  <option value="minimizar">Minimizar</option>
                </select>
              </div>
            </td>
            <td >
              <input type="text">
              <p>X{{ numberOfColum }}</p>
            </td>
            <td></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>